/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}



h1,
h2,
h3,
h4 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.navb ul {
  list-style: none;
}

.navb a {
  text-decoration: none;
  color: #1d0e0e;
  background-color: #fefe00;
  border: #fff solid 1px;
  border-radius: 5px;
  padding: 5px 5px;
}
.navb a:hover{
  background-color: #333;
  color: #ccc;
  
}

header {
  background-color: #333;
  padding: 10px ;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 24px;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

#hero {
  text-align: center;
  padding: 100px 0;
  background-color: #fff;
}

#hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
}
.btn:hover{
  color: #fefe00;
  background-color: #574848;
}
#about {
  background-color: #f9f9f9;
  padding: 50px 0;
}

#colleges {
  background-color: #fff;
  padding: 50px 0;
}

.college-card {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.college-card img {
  max-width: 100%;
  margin-bottom: 10px;
}

#contact {
  background-color: #f9f9f9;
  padding: 50px 0;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form textarea {
  height: 100px;
}

form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
